@model MvcProjesi.Data.Uye

@{
    ViewBag.Title = "Yeni Üyelik";
}
<html>
<head>
<!--Layout sayfamızda sayfanın en alt kısmında scripts adlı bir sectionumuz tanımlanmıştı.
    Script ve css kodlarımızı scripts sectionuna koyacağız.
    Detaylı bilgi önceki yazılarımızda vardır.-->
@section scripts{
   

    <!--Projemizde tarih seçici kullanacağız. Bunun için Jquery ve Jqueryui den faydalanacağız.-->
    <!--Öncelikle gerekli Jquery ui kütüphanemizi ekliyoruz. Jquery kütüphanemiz Layout sayfamızda
        zaten tanımlanmış durumdadır.-->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <!--Kütüphanelerimizin online olduğunu bu yüzden sayfa çalışırken, internet bağlantımızın aktif olması
        gerektiğini lütfen göz önünde bulundurun.-->
    <!--Tarih seçicimizi burada hazırlayacağız-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#textBoxDogum").datepicker();
        });
    </script>
}
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/css/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="page-header" style="height:80px;">
        <h3>
            Yeni Üyelik
        </h3>
    </div>

    <!--Html.BeginForm ile yeni bir form oluşturuyoruz ve içeriğine elemanlarımızı ekliyoruz.-->
    <!--Formumuzun içinde resim yüklemesi de yapacağımız için, forma enctype = "multipart/form-data" özelliği veriyoruz-->
    <!--Ayrıca normalde sistemimize doğum gününü kaydetmeyecektik, bu yüzden bir örnek olması adına Jquery ile
        doğum tarihini alarak, yaş kontrolü yapacağız.-->
    <!--Formun sunucuya gönderim yöntemini, FormMethod.Post yaptığımıza dikkat edin.
    Get ve Post metodları hakkında internette araştırma yapmanızda fayda var.-->

    @using (Html.BeginForm("YeniUyelik", "Uyelik", FormMethod.Post, new { enctype = "multipart/form-data", id = "formKapsayici" }))
            {
        <div id="page-header" style="height:400px;">
            @Html.LabelFor(i => Model.Ad)<br /><br />
                <div id="search-area" style="position:absolute; top:315px; left:270px;">
                    @Html.TextBoxFor(i => Model.Ad," ",new { @class = "search-text", @style = "color:black" })
                </div>

                @Html.LabelFor(i => Model.Soyad)<br /><br />
                <div id="search-area" style="position:absolute; top:360px; left:270px;">
                    @Html.TextBoxFor(i => Model.Soyad, " ", new { @class = "search-text", @style = "color:black" })
                </div>

                @Html.LabelFor(i => Model.EPosta)<br /><br />
                <div id="search-area" style="position:absolute; top:405px; left:270px;">
                    @Html.TextBoxFor(i => Model.EPosta, " ", new { @class = "search-text", @style = "color:black" })
                </div>

                @Html.LabelFor(i => Model.Sifre)<br /><br />
                <div id="search-area" style="position:absolute; top:450px; left:270px;">
                    @Html.TextBoxFor(i => Model.Sifre, " ", new { @class = "search-text", @style = "color:black" })
                </div>

                @Html.LabelFor(i => Model.WebSite)<br /><br />
                <div id="search-area" style="position:absolute; top:497px; left:270px;">
                    @Html.TextBoxFor(i => Model.WebSite, " ", new { @class = "search-text", @style = "color:black" })
                </div>

                <!--Tüm elemanlarda for takısını kullanırken doğum tarihi ve resim yüklemede kullanmadık.
        Çünkü bu iki elaman daha önce hazırladığımız Uye modeline ait değiller.
        Bu yüzden elle ekledik.-->
                @Html.Label("Doğum Tarihiniz")<br /><br />
                <div id="search-area" style="position:absolute; top:542px; left:270px;">
                    @Html.TextBox("textBoxDogum", " ", new { @class = "search-text", @style = "color:black" })<br /><br />
                </div>

                @Html.Label("Profil Resminiz")<br /><br />
                <div style="position:absolute; top:590px; left:270px; width:67px;">
                    <input type="file" name="file"  />
                </div>

                <div id="search-button" style="position:absolute; top:620px; left:405px; width:67px;">
                    <input type="submit" value="Üye Ol"  class="search-button" />
                </div>
            </div>
              
                

    <!--Html.ValidationSummary ile formda oluşan geçerlilik hatalarını liste halinde gösterebiliyoruz.-->
                @Html.ValidationSummary()
    }
</body>

</html>